.appui-emails-mailings {
  .bbn-table-toolbar{
    background-color: teal;
    background-image: none;
  }
  div.info {
    div.bbn-header {
      &.title {
        justify-content: space-around;
      }
      &:not(.title) {
        font-size: inherit;
        margin-bottom: 0;
      }
    }
  }
  .appui-emails-tbuttons {
    button.bbn-button {
      margin-bottom: 0.25em;
    }
  }
}