.appui-emails-mailings {
  div.info {
    div.k-header {
      &.title {
        justify-content: space-around;
      }
      &:not(.title) {
        font-size: inherit;
        margin-bottom: 0;
      }
    }
  }
}